<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="../assets/css/login.css">

	<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<head>
	<title>Login</title>
</head>
<body>

	<div class="content col-md-2 col-md-offset-5">

		<form>
			<div class="mailInput">
				<input type="mail" name="mail" placeholder="votre e-mail">
			</div>

			<div class="mailInput">
				<input type="text" name="first" placeholder="prenom">
			</div>

			<div class="mailInput">
				<input type="text" name="last" placeholder="nom">
			</div>
			
			<div class="passInput">
				<input type="password" name="pass" placeholder="mot de passe">
			</div>

			<!-- <input type="submit btn btn-primary" value="se connecter"> -->
			<button class="submit btn btn-primary btn-block">enregistrer</button>
			

		</form>

		<button class="btn btn-default btn-block">Vous avez un compte?</button>

	</div>

</body>
</html>